// Vendors
@import "./vendors/bootstrap";

$border-shadow: 0 1px 2px rgba($dark, 0.2);

.logo {
  width: 15rem;
  height: 10rem;
  background-image: url(../../dist/assets/logo-harinas@svg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  margin-bottom: 3rem;
}

.search {
  border-radius: calc(0.5 * 2.75rem);
  @media (min-width: map-get($grid-breakpoints, 'lg')) {
    & {
      max-width: 35rem;
    }
  }

  &[class~='open' ] {
    background-color: transparent!important;
    border: 1px solid transparent!important;
  }

  &-results {
    margin-top: -2.75rem;
    padding-top: 2.75rem;
    border-radius: calc(0.25 * 2.75rem);
    z-index: -1;
  }
}

#searchBar {
  height: 2.75rem;
  padding: 0;
  &::-webkit-search-cancel-button {
    display: none;
  }
}

#userDropdown {
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    background-color: darken($light, 15);
  }
}
.caret::after {
  content: '';
  display: inline-block;
  width: .75rem;
  height: 1rem;
  background-color: $secondary;
  vertical-align: -4px;
  margin-left: .5rem;
  mask-image: url(../../../dist/assets/caret-down.svg);
  mask-size: 100%;
  mask-position: center;
  mask-repeat: no-repeat;
}

.search-item__active {
  background-color: $gray-300;
}

#userDropdownMenu{
  min-width: 15.625rem;
}

#notifications-menu {
  min-width: 20rem;
}
$imagesSizes: (
  small: 32px,
  medium: 56px,
  large: 112px
);

@each $size, $value in $imagesSizes {
  .image-#{$size} {
    // width: $value;
    height: $value;
    max-width: $value;
    display: block;
    border-radius: 50%;
    background-color: $light;

    & .avatar {
      display: inline-block;
      width: $value;
      height: $value;
    }
  }
}

#customersMap {
  width: 100%;
  height: 400px;
}

#profileEdit {
  max-width: 650px;
}


#uploadAvatar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition: .3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  height: 100%;
  &:hover {
    background-color: rgba($dark, 0.5);
    opacity: 1;

  }
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {

  .loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(50%)
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .loader {
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.5);  
  }
}

.countdownItem {
  &:after {
    content: "";
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: -8px;
    width: 1px;
    height: 48px;
    display: block;
    background: #fff;
    opacity: .3;

    border-right: 1px solid $light;
  }
}
#myClock {
  background-image: url(https://res.cloudinary.com/darrelmasis/image/upload/v1641002172/sdf_ienhuj.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar {
  position: relative;
  border-radius: 50%;
  &-image {
    width:100%;
    border-radius: 50%;
  }
}

.user-status {
  &:before {
    content: "";
    width: 0.75rem;
    height: 0.75rem;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 2px solid #fff;
    box-sizing: content-box;
  }
}
.user-status-online:before {
  background-color: $success;
}

.user-status-offline:before {
  background-color: $danger;
}

#message-box {
  height: 2.5rem;
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
}

.chat-body {
  position: relative;
  height: 20rem;
}

.chat-container {
  overflow-y: auto;
  padding: .5rem;
  font-size: 0.8125em;
  margin-right: .5rem;
}
.chat {
  display: flex;
  align-items: center;
  margin: .5rem 0;
  &-user {
      justify-content: flex-end;
      > .chat-text {
          background-color: $primary;
          color: $white;
          // border-radius: 1rem 1rem 0 1rem;
      }
  }

  .user-avatar {
      margin-right: .5rem;
  }
}

.chat-text {
  background-color: darken($light, 10%);
  padding: 1rem 1.25rem;
  border-radius: 1rem;
  max-width: 70%;
  font-weight: 500;
  font-size: 1.1em;
}