// Vendors
@import "./vendors/bootstrap";

$border-shadow: 0 1px 2px rgba($dark, 0.2);
html {
  scroll-behavior: smooth;
}
html:focus-within {
  scroll-behavior: smooth;
}

body {
  margin-top: 4.8125rem
}

.logo {
  width: 15rem;
  height: 10rem;
  background-image: url(../../dist/assets/logo-harinas@svg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  margin-bottom: 3rem;
}

.search {
  border-radius: calc(0.5 * 3.75rem);
  @media (min-width: map-get($grid-breakpoints, 'lg')) {
    & {
      max-width: 35rem;
    }
  }

  &[class~='open' ] {
    background-color: transparent!important;
    border: 2px solid transparent!important;
  }

  &-results {
    margin-top: -3.35rem;
    padding-top: 2.75rem;
    border-radius: calc(0.25 * 2.75rem);
    z-index: -1;
  }

}
#searchIconContainer {
  margin-right: 1.0625rem;
  margin-left: 1.125rem;
}
#searchContainer, #resultsData{
  border: 2px solid #dee2e6;
}
#searchBar,#searchInput {
  height: 2.75rem;
  font-weight: 500;
  padding: 0;
  &::-webkit-search-cancel-button {
    display: none;
  }
}

#userDropdown {
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    background-color: darken($light, 15);
  }
}
.caret::after {
  content: '';
  display: inline-block;
  width: .75rem;
  height: 1rem;
  background-color: $secondary;
  vertical-align: -4px;
  margin-left: .5rem;
  mask-image: url(../../../dist/assets/caret-down.svg);
  mask-size: 100%;
  mask-position: center;
  mask-repeat: no-repeat;
}

.search-item__active {
  background-color: $gray-300;
}

#userDropdownMenu{
  min-width: 15.625rem;
}

#notifications-menu {
  min-width: 20rem;
}
$imagesSizes: (
  xsmall: 16px,
  small: 32px,
  medium: 56px,
  large: 112px
);

@each $size, $value in $imagesSizes {
  .image-#{$size} {
    // width: $value;
    height: $value;
    max-width: $value;
    display: block;
    border-radius: 50%;
    background-color: $light;

    & .avatar {
      display: inline-block;
      width: $value;
      height: $value;
    }
  }
}

#customersMap {
  width: 100%;
  height: 400px;
}

#profileEdit {
  max-width: 650px;
}


#uploadAvatar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition: .3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  height: 100%;
  &:hover {
    background-color: rgba($dark, 0.5);
    opacity: 1;

  }
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {

  .loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(50%)
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .loader {
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.5);  
  }
}

.countdownItem {
  &:after {
    content: "";
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: -8px;
    width: 1px;
    height: 48px;
    display: block;
    background: #fff;
    opacity: .3;

    border-right: 1px solid $light;
  }
}
#myClock {
  background-image: url(https://res.cloudinary.com/darrelmasis/image/upload/v1641002172/sdf_ienhuj.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar {
  position: relative;
  border-radius: 50%;
  &-image {
    width:100%;
    border-radius: 50%;
  }
}

.user-status {
  & > img {
    mask-image: url(../../dist/assets/avatar-mask.svg);
    mask-size: 100% 100%;
  }
  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    bottom: 3px;
    right: 3px;
    border-radius: 50%;
  }

  &-online::before {
    background-color: #05ff82;
  }
  &-offline::before {
    background-color: $warning;
  }
}


.thin-scroll::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  opacity: 0;
}

.thin-scroll::-webkit-scrollbar-thumb {
  background-color: darken($light, 20%);
  border-radius: .5rem;
  visibility: hidden;

  &:hover {
    background-color: darken($light, 30%);
  }

  &:active {
    background-color: darken($light, 40%);
  }
}

.thin-scroll:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

// Estilos de la ventana de chat

.chat {
  &-header {
    background-color: $white;
  }

  &-body {
    position: relative;
    background-color: darken($white,3%);
  }

  &-footer {
    background-color: $white;
  }
}

// Estilos de las cajas de chat
.messenger-body {
  height: calc(100vh - 239px);
  overflow-y: scroll;
  font-size: .9em;
  margin-right: .5rem;
  padding: 1rem .5rem 1rem 1rem;
}

// Estilos para los mensajes
.message {
  display: flex;
  align-items: flex-end;
  margin: 0 0 .15rem 0;

  &-text {
    padding:  8px 12px;
    word-break: break-word;
  }

  &-avatar {
    background-color: darken($light, 10%);
    border-radius: 50%;
    margin-right: .5rem;
    margin-bottom: -.75rem;
  }

  &-rows {
    width: 100%;
  }

  &-first {
    border-radius: 1.125rem 1.125rem 1.125rem 0.25rem!important; // solo se usa en el primer mensaje y se aasigna dinámicamente
  }

  &-group {
    margin-bottom: 1rem;
    &-from {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      & > .message {
        justify-content: flex-end;
        max-width: 80%;
      }
      // estilos a la caja del mensaje individal del remitente
      & > .message > .message-text {
        background-color: $primary;
        color: $white;
      }

        // Border-raius para los mensjaes del usuario
      & > .message:first-child > .message-text {
        border-radius: 1.125rem 1.125rem 0.25rem 1.125rem;
      }
    
      & > .message:last-child > .message-text {
        border-radius: 1.125rem 0.25rem 1.125rem 1.125rem;
      }

      & > .message:not(:first-child,:last-child) > .message-text{
        border-radius: 1.125rem 0.25rem 0.25rem 1.125rem;
      }

    }

    &-to {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      // estilos a la caja del mensaje individal del remitente
      & > .message {
        max-width: 90%;
      }
      & > .message-rows > .message > .message-text {
        background-color: darken($light, 10%);
        color: $dark;
      }

        // Border-raius para los mensajes del otro usuario
      & > .message-rows > .message:first-child > .message-text {
        border-radius: 1.125rem 1.125rem 1.125rem 0.25rem;
      }

      & > .message-rows > .message:last-child > .message-text {
        border-radius: 0.25rem 1.125rem 1.125rem 1.125rem;
      }

      & > .message-rows > .message:not(:first-child,:last-child) > .message-text{
        border-radius: 0.25rem 1.125rem 1.125rem 0.25rem ;
      }
    }


  }
}


#messageBox {
  width: 100%;
  resize: none;
  max-height: 6rem;
  overflow-y: scroll;
  overflow-wrap: break-word;
  background-color: transparent;
  border: 0;
}

.btn-icon {
  padding: .5rem .75rem;
}

.searchbar-header {
  background-color: darken($light, 3%);
}

.index-1 {
  z-index: -1;
}

#searchDynamic {
  z-index: 2;
  top: 61px;
  right: 0;
  left: 0;
  padding: 1rem 0 1rem 0;
  background-color: $body-bg
}

#resultsRow {
  margin-top: 9rem;
}

.profile-banner {

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
  }

  height: 18rem;
  background-color: #dee2e6;
  width: 100%;
  max-width: map-get($map: $grid-breakpoints, $key: xxl);
}

#userInfo {
  position: relative;
  top: -8rem;
}

.mt-header {
  margin-top: 61px;
}

#searchResults a:last-child {
  border-radius: 0 0 0.6875rem 0.6875rem;
}
@import "./layout/chatapp";