header.main-header.border-bottom
  nav.navbar.navbar-expand.navbar-light.bg-white
    .container 
      a(href="/").navbar-brand
        img(src="/dist/assets/logo-harinas@svg.svg" height="32" alt="Logotipo")
      ul.navbar-nav.ms-auto
        li.nav-item.dropdown
          button(type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false").btn.bg-light.rounded-pill.caret
            .image-small.me-2
              img(src="/dist/assets/defect.png" alt="Avatar").w-100
            span.fw-semibold=`${user.fullName.split(' ')[0]}`
          div#userDropdownMenu(aria-labelledby="userDropdown").dropdown-menu.dropdown-menu-end.px-2
            .dropdown-item-text.d-flex.align-items-center
              .image-medium.me-2 
                img(src="/dist/assets/defect.png" alt="Avatar").w-100
              .d-flex.align-item-center.justify-content-center.flex-column
                div.fw-semibold= `${user.fullName}`
                .text-muted.small= `@${user.username}`
            .dropdown-divider
            a(href=`/signout/${user.username}`).dropdown-item.rounded.fw-500.text-danger.fw-semibold.d-flex.align-items-center
              span.icon.icon-sign-out.me-2
              | Cerrar sesión