div#searchContainer.search.position-relative.w-100.bg-white.py-2
  form#searchForm(action="/search/" method="GET")
    div.input-group.align-items-center
      div#searchIconContainer.input-group-text.border-0.p-0.bg-transparent
        span#searchIcon
          span.far.fa-search.text-secondary
        span#searchSpinner.spinner-border.spinner-border-sm.text-secondary.visually-hidden
      input#searchBar(placeholder="¿A quién buscas hoy?" type="text" name="q" autocomplete="off" spellcheck="false").form-control.border-0.bg-transparent
      button#clearButton(type='button').input-group-text.border-0.p-0.mx-3.visually-hidden.bg-transparent
        .far.fa-times-circle.text-secondary
  div#resultsData.search-results.bg-white.visually-hidden
    div#resultsState
    div#searchResults.list-group.rounded-0
    div#resultsMessage