extends ../templates/template
append config
  - title = 'Inicio'
block main
  main.container.text-center
    h1 404
    h3 Página no encontrada
    a(href="/" class="link") Quiero regresar a tierra