extends ../templates/template
append config
  - title = 'Inicio'
block main
  include ../layout/header
  main.container
    .w-100.d-flex.flex-column.justify-content-center.align-items-center.mb-3
      div.logo
      include ../layout/search