extends ../templates/template
append config
  - title = 'Inicio'
block main
  header.bg-light
    nav.navbar.navbar-expand-lg.navbar-light.py-3
      a(href="#").navbar-brand Navbar
  main.container
    .main-content.w-100.d-flex.flex-column.justify-content-center.align-items-center.mb-3
        form#signupForm(action="/signup", method="POST").mt-5
            input#firstName(type="text", placeholder="Nombre" name="firstName" autocomplete="off").form-control
            input#lastName(type="text", placeholder="Apellido" name="lastName" autocomplete="off").form-control.mt-3
            input#email(type="email", placeholder="Correo Electrónico" name="email" autocomplete="off" ).form-control.mt-3
            input#password(type="password", placeholder="Contraseña" name="password" autocomplete="off").form-control.mt-3
            input#btnSubmit(type="submit", value="Registrarse").btn.w-100.btn-primary.mt-3
            div#messages