extends ../templates/template
append config
  -pageTitle = 'Iniciar Sesión'
block main
  main.container.d-flex.align-items-center.py-5
    form(action="/signin", method="POST")#signinForm.bg-white.rounded.shadow-sm.border.text-center
          img(src="./dist/assets/logo-harinas@svg.svg", width="150px" alt="", srcset="")
          h1.h3.fw-normal.mt-4 Iniciar Sesión
          input#username(type="text", name="username" autocomplete="off" placeholder="Correo electrónico o nombre de usuario").form-control.mt-3
          input#password(type="password", name="password" placeholder="Contraseña").form-control.mt-3
          input(type="submit", value="Iniciar Sesión").btn.btn-warning.mt-3.w-100.btn-l
          

