extends ../templates/template
append config
  - pageTitle= `${userProfile.fullName}`
block main
  include ../layout/header
  .container.mt-3
    .row
      .col-md-3
        .card.text-center.bg-white.rounded.border.mb-3
          .card-body
            .image-large
              img(src="/dist/assets/defect.png" alt="foto del cliente").w-100
            .mt-3 
              h1.h5.card-title= `${userProfile.fullName}`  
              p.small.fw-semibold.text-secondary.mb-3= `@${userProfile.username }`
              if userProfile.active 
                a(href="#").btn.btn-primary.fw-semibold
                  i.far.fa-edit.me-2
                  | Editar
              else
                a(href="#").btn.btn-outline-primary.fw-semibold 
                  i.far.fa-plus.me-2 
                  | Agregar
              
      .col-md-9