block config 
  include ../config/config
doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= `${pageTitle} | ${siteName}`
    link(rel="stylesheet", href="/dist/css/styles.min.css")
  body
    block main
script(src="/dist/assets/all.custom.js") 
script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js")
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous") 
script(src="socket.io/socket.io.js")
script(src="/dist/js/scripts.min.js")